* {
	padding:0dx;
	margin:0 auto;
}
body{
	background:url("../picture/back.jpg");
	
	 background-repeat: repeat-x;
	width:980px;
/* background-image:url("../picture/login/bg.png"); */


}

#head{
	display:block;
	width:980px;
	height:100px;

	
}
#logo{
	padding-top:15px;
	display:block;
	text-align: center;
	width:190px;
	height:70px
}
#content{
	display:block;
	width:980px;
	height:450px;
	/* background-image:url("../picture//login/login.jpg"); */
	background-repeat: no-repeat;
}
#left{
	width:490px;
	height:450px;
	float:left;
	
}
#left img{
	width:470px;
	height:300px;
	margin-top:42px;
	margin-left:70px;
}
#right{
	width:490px;
	height:450px;
	float:left;
	
}
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
#form_login{
	border:1px solid #ccc;
	width:382px;
	height:355px;
	float:right;
	background:#fff;
	opacity:0.8;
	margin:45px 25px 10px 10px
}
.iconfont{
	display:table-cell;
	background:#ccc;
	width:40px;
	height:40px;
	
}

#d0{
	width:340px;
	height:16px;
	margin-top:40px;
	font-size:25px;
	font-weight: 800;
	padding-top:10px;

	color:#222;
}

#div_i{
	float:left;
	text-align: center;
	hight:40px;
	line-height:40px;	
}
#div_username input{
	float:left;
	display:block;
	width:300px;
	height:34px;
	border:none;
}
#d1{
	width:342px;
	height:42px;
	border:1px solid #ccc;
	margin-top:40px;
}
#d2{width:342px;
	height:42px;
	border:1px solid #ccc;
	margin-top:20px;
}
#div_paswrd input{
	float:left;
	border:none;
	display:block;
	width:300px;
	height:34px;
}

#d3 {width:342px;
	height:42px;
	border:1px solid #ccc;
	margin-top:20px;
}
#d3 input{
	background:#2680A5;
	border:none;
	color:#fff;
	font-weight:bold;
	font-size:18px;
	display:block;
	width:342px;
	height:42px;
}
#d3 input:HOVER{
	background:#0F4D67;
	border:none;
	color:#fff;
	font-weight:bold;
	font-size:18px;
	display:block;
	width:342px;
	height:42px;
}
#d4 {
	
	margin-top:10px;
	width:342px;
	height:12px;
}
#d4 a{
	font-size:12px;
	color:#666;
	text-decoration:none;
}
#d4 a:HOVER{
	font-size:12px;
	color:#DE5601;
	text-decoration:none;
}
#d5{
	text-align:left;
	width:342px;
	font-size:13px;
	color:#444;
	margin-top:12px;
}
#d5 input{
	margin-left:10px;
	margin-right:3px;
}

#div_new_account{
	float:right;
	height:10px;
	margin-left:10px;
}
#div_reset_paswrd{
	float:right;
	margin-right:10px;
	height:10px;
}

#foot{
	border-top:1px solid #ccc;
	color:#777;
	text-align:center;;
	width:980px;
	font-size:14px;
	height:50px; padding-bottom:20px;
}
#foot span{
	margin-left:20px;
	margin-right:20px;
}
