*{
	
	margin:auto 0;
	padding:0px;
}


#right{
width:100%;
height:600px;
border:1px solid  #000;
margin:1px 3px 3px 1px;
background:#515151;
	}

	
#add {
	margin:0 auto;
	display:block;
	width:100px;
	height:30px;
	background:#ccc;
	padding-top:13px;
	text-align:center;
	vertical-align: middle;
	margin-top:20px;
	font-size:15px;
	text-decoration:none;
	color:#2A66F5;
}

	
	
